openapi: 3.0.0
info:
  title: v2api.musicalligator.com
  version: 1.0.0
servers:
- url: https://v2api.musicalligator.com/api
  description: API Server
paths:
  /auth/authenticate:
    get:
      summary: GET authenticate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      passwordToken:
                        type: object
                        nullable: true
                      account:
                        type: object
                        properties:
                          clientId:
                            type: number
                          level:
                            type: string
                          session:
                            type: string
                          dtCreate:
                            type: string
                          role:
                            type: string
                          status:
                            type: string
                          contractStatus:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                          username:
                            type: string
                          middleName:
                            type: string
                          documentRequred:
                            type: boolean
                          documentUrl:
                            type: object
                            nullable: true
                          avatarUrl:
                            type: object
                            nullable: true
                          phone:
                            type: string
                          balance:
                            type: array
                            items:
                              type: object
                              properties:
                                amount:
                                  type: number
                                currency:
                                  type: string
                          contractData:
                            type: object
                            properties:
                              inn:
                                type: string
                              role:
                                type: string
                              type:
                                type: string
                              links:
                                type: string
                              ogrnip:
                                type: string
                              _living:
                                type: boolean
                              _postal:
                                type: boolean
                              address:
                                type: object
                                properties:
                                  zip:
                                    type: string
                                  city:
                                    type: string
                                  street:
                                    type: string
                                  country:
                                    type: string
                                  buildingNumber:
                                    type: string
                                  apartmentNumber:
                                    type: string
                              country:
                                type: string
                              _changes:
                                type: boolean
                              lastName:
                                type: string
                              _required:
                                type: array
                                items: {}
                              birthCity:
                                type: string
                              birthDate:
                                type: string
                              firstName:
                                type: string
                              signature:
                                type: string
                              middleName:
                                type: string
                              bankAccount:
                                type: object
                                properties:
                                  account:
                                    type: string
                                  bankName:
                                    type: string
                                  bankNumber:
                                    type: string
                                  correspondentAccount:
                                    type: string
                              citizenship:
                                type: string
                              passportDate:
                                type: string
                              personNumber:
                                type: string
                              livingAddress:
                                type: object
                                properties:
                                  zip:
                                    type: string
                                  city:
                                    type: string
                                  street:
                                    type: string
                                  country:
                                    type: string
                                  buildingNumber:
                                    type: string
                                  apartmentNumber:
                                    type: string
                              postalAddress:
                                type: object
                                properties:
                                  zip:
                                    type: string
                                  city:
                                    type: string
                                  street:
                                    type: string
                                  country:
                                    type: string
                                  buildingNumber:
                                    type: string
                                  apartmentNumber:
                                    type: string
                              passportIssuer:
                                type: string
                              passportNumber:
                                type: string
                              passportIssuerCode:
                                type: string
                          contractType:
                            type: string
                          royalty:
                            type: number
                      login:
                        type: string
                  statusCode:
                    type: number
              example:
                data:
                  passwordToken:
                  account:
                    clientId: 58251
                    level: PREMIUM
                    session: 2181e986-0b74-460f-bd1a-81f7062ec9cb
                    dtCreate: '2025-06-05 22:12:18.000902'
                    role: OWNER
                    status: ACTIVE
                    contractStatus: SIGNED
                    firstName: Данил
                    lastName: Волков
                    username: VURMS
                    middleName: ''
                    documentRequred: false
                    documentUrl:
                    avatarUrl:
                    phone: '+79014934160'
                    balance:
                    - amount: 0
                      currency: RUB
                    - amount: 0
                      currency: EUR
                    contractData:
                      inn: '237700133356'
                      role: AGENT
                      type: ip
                      links: Музыкальный лейбл Speedy Musix, который специализируется
                        на создании Speed Up, Slowed и инструментальной музыки
                      ogrnip: '324237500091918'
                      _living: true
                      _postal: true
                      address:
                        zip: '352430'
                        city: Курганинск
                        street: Демьяна Бедного
                        country: Россия
                        buildingNumber: '151'
                        apartmentNumber: '1'
                      country: Россия
                      _changes: true
                      lastName: Волков
                      _required: []
                      birthCity: ''
                      birthDate: ''
                      firstName: Данил
                      signature: 
                        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAlgAAAEsCAYAAAAfPc2WAAAAAXNSR0IArs4c6QAAIABJREFUeF7tnV+OHDeSh6Nv4NkLjHwDzwlknWAx2APIPsHYgOpZ9nMb8OwJLJ3Eo/cFrDnAwgL2fVYP+94rlqra1VVkMsjk3+BXgCEDnUlGfBFZ+atgJPNO+EAAAhCAAAQgAAEIFCVwV3Q0BoMABCAAAQhAAAIQEAQWSQABCEAAAhCAAAQKE0BgFQbKcBCAAAQgAAEIQACBRQ5AAAIQgAAEIACBwgQQWIWBMhwEIAABCEAAAhBAYJEDEIAABCAAAQhAoDABBFZhoAwHAQhAYA4C91//YefhH3PYjJUQmIcAAmueWGEpBCAAAQ+BS6EUBPSViPz76a8XwurJ8T+KHH4AMQQgUIYAAqsMR0aBAAQgUJnAo5ByAul5RCztseVHEfkocvj7nkE4FwKrE0BgrZ4B+A8BCAxI4FFMva4opDR+U9XSUOIYCHgIILBICwhAAALdCQwjqHwkEFnd8wMDZiSAwJoxatgMAQhMTmBoQeVhe+BeMXnGYX57Alw07ZkzIwQgsCSBo6jqveSXS/6FCE8a5sLjvDUJILDWjDteQwACTQg8iqrQk3slrQhtteDm/igiH07/uiZ2+SyY7t1Tg2fRt2XLP0QOL0oay1gQsE4AgWU9wvgHAQh0IFBNWJ1F1IVI2uve0dbL6lpoQKpYe1Fz/lIEEFhLhRtnIQCBegTuvzvtNVWoWnX3QeThnYi8+aPiVM96kZ9+F3l4tjEDVaya+BnbHAEElrmQ4hAEINCOQLFKVYXKVCqFoy+/bp9Fs3sqVY5flwACa93Y4zkEIJBFoIiouhBUIzWP3zuBtVWBY8uGrJzhpBUJILBWjDo+QwACiQSKiaqCvVOJLqgOp4qlwsRBEFAQQGApIHEIBCCwIoEi2yq4StXgouo6tvcPkWjT7L7i5YDPyQQQWMnIOAECELBL4MkGoHua1U/CaqTlP23Uols30OyuRclxSxNAYC0dfpyHAAQ+Eyi5BDijqKKKxZUAgdIEEFiliTIeBCAwEYFjteZ5pLF7yx9XqXJbKbiqTmijz4l4nE2l2X3CoGHyYAQQWIMFBHMgAIHaBHZXqwZ9ArAkt2izO8uEJXEzlkkCCCyTYcUpCEDglkARYeW2KTBUqdrKk80qFgKLSwwCEQIILFIEAhAwTODxNTB/E5EvMhyd8CnADC+9p8SWCdl0tBRpxrFJAIFlM654BYHFCVCt2p8A0acJ2a5hP2RGMEwAgWU4uLgGgTUJxCovQSoTb61QI9LRPiwEVg3sjGmGAALLTChxBAKrE4gKAh+gBRrWc/MiyhOBlYuW85YggMBaIsw4CQHLBLKWA6lWRVMCgRVFxAEQ2CCAwCI9IACBSQkkC6v3IvJPEXmzzpOAe0KLwNpDj3MhgMAiByAAgckIHG/85w1Ct2xf+AnAEiFFYJWgyBjrEkBgrRt7PIfAhASiT7Y5n1j+KxJZBFYRjAyyLAEE1rKhx3EIzERAtRyIsCoe0vuHjSFpci/OmwEtEUBgWYomvkDAHAGEVb+QUsHqx56ZLRBAYFmIIj5AwCQB1XLgW5HDNybd7+4UAqt7CDBgagIIrKnDh/EQsEiAqtU4UWWJcJxYYMlsBBBYs0UMeyFgloBKWDnv3QuX3VOEfKoT2BRYxKE6fyaYmQACa+boYTsEzBBQLQfSxN483gis5siZ0AwBBJaZUOIIBGYkQNVq7KhtvteRCtbYwcO6zgQQWJ0DwPQQWJOAWlg5PGwH0C1JNgXWP0QOL7qZxsQQGJwAAmvwAGEeBOwRUC0HOre5gXcPPgKrewgwYFoCCKxpQ4fhEJiNAFWr2SImgsCaL2ZYPAoBBNYokcAOCJgmQNVqzvBuxo0K45xBxepGBBBYjUAzDQTWJJBUtaJpergkQWANFxIMmoYAAmuaUGEoBGYjkFK1Ou5t5bZh4DMUAQTWUOHAmKkIILCmChfGQmAWApu9O5dOULUaOqSbr8thiXDo2GFcbwIIrN4RYH4ImCIQfX/d2Vs2DZ0i7gisKcKEkUMSQGANGRaMgsCMBNRLglStpgnvZkyJ4zRxxNAeBBBYPagzJwRMEUhqZGfT0Klij8CaKlwYOxQBBNZQ4cAYCMxGQF21ol9nttAe7UVgTRk2jB6CAAJriDBgBARmJKAWVywlzRjezwLrjYi8DJhPNXLauGJ4CwIIrBaUmQMCpgiolwRpZJ8+7lsC68D9Y/r44kBNAlwgNekyNgTMEaBqZS6kmw5txpsK1lrJgLeJBBBYicA4HALrElDvbcWN10ySbG7TQJzNxBlHahBAYNWgypgQMEXgeJP9WUS+irjFkqCpuDtnNgUWvXXm4o1DJQkgsErSZCwImCOg3jiUm6252COwTIYUp5oRQGA1Q81EEJiNgFpcsVQ0W2jV9lLBUqPiQAhcEUBgkRIQgICHgEpcsbeV+dxBYJkPMQ5WI4DAqoaWgSEwKwGVuGJJcNbwJtmNwErCxcEQuCCAwCIdIACBCwIxcXX3L5GH/xA5uIZ2PuYJILDMhxgHqxFAYFVDy8AQmJHA/UPE6o8ihz/N6Bk25xBgH6wcapwDAUcAgUUeQAACJwKqfa7efapeuW0b+CxBAIG1RJhxsgoBBFYVrAwKgdkIqHdoR2DNFtpd9m7lBa/K2YWWk80TQGCZDzEOQiBGwPu+uY8i8oXnTLZkiOE09fetqiYCy1SocaY4AQRWcaQMCIGZCKgrVyenuKnOFN39tgZ78tiiYz9cRjBOAIFlPMC4B4EwgaC4eisiL/3nIbDWyqigwGKbjrUSAW8zCCCwMqBxCgTmJ5AjroSqxfyBT/QAgZUIjMMh8EgAgUUyQGA5AkFx9aOIvN7AQdViqVxhD6ylwo2zxQkgsIojZUAIjEwgeNN04sptv/B8w3oqWCOHtrht99+JyM+BYXnYoThvBrRGAIFlLaL4A4FNAt6nwtyu7O8i1Ss36nuRw18AvAoB9sBaJdL4WYcAAqsOV0aFwIAEQuLq8EJEs8no3QeRV18O6BgmVSHAFg1VsDLoMgQQWMuEGkfXJhCsRrw4cfk1zgeBFWdk6Qi2aLAUTXxpTwCB1Z45M0KgMYGtpvbDDyLqvbBocm8cuX7T0eDejz0zWyGAwLISSfyAgJdATFy5k6IveD6PjMBaJst4Rc4yocbRagQQWNXQMjAEehNQiasfFM3tJ0fYZLR3RNvNT/9VO9bMZJUAAstqZPFrcQLBJZ6rrRY0ze1HlFSvlsooNhhdKtw4W4UAAqsKVgaFQE8CW/0zl1WozT6bawfY96hnSJvOvdmTh9BuGgsmm5kAAmvm6GE7BLwEglWpK5Gkbm5ng9GlMo3lwaXCjbPVCCCwqqFlYAj0IKDpuzrbRXN7jwiNPedmVROhPXbwsG4wAgiswQKCORDIJ5AkrtxrcRR7XzlraG7Pj8lsZ7ZYHnQi7uDeHsAHAqYJILBMhxfn1iEQvDEGqg7q5UF6btZJosiWHXuFtnu34d3fRB6enZCSW0vl1nrOIrDWizkemyOgbWq/dFy7PLj3pmoOtmGHalSvjrn5+vQicR87RJbhjFrdNQTW6hmA/wYIpD5Sr356kJufgezQuRCraOYI7diYR8vo69IFiKMmJIDAmjBomAyBPwgEn/jaEEeqGx+9V0ul2U+/XyzdXXueIbS1OXacasEtQB4re87/dyLulVV8rBFAYFmLKP4sRCClqf3J8qBrbndLN1ufjJvqQuhNuRoTQ6nVq9h4N/BWFFgPVxQWZGDqIvI6g8CyH2M8NEkg911x2uXB1JuqSciLOLW5m3+i0E4WV47xYsuEXkaJnBdJzcndRGBNHkDMX5VAsO8q8ktYdQPky36ZtIoJ7hShff9GRF560J0E1P1vIvJV+O8rQM+tOq/Axp6PCCx7McUj8wRy+q7OUKJPDy5WTTCfLBEHSzw5uCnSLsR6ztOu1uLjvf645qyF+eQPAstoYHHLKoG9v4CjAoteEKup4/VrKx801asUgbYpxBbIuxArDeelktKMswgsM6HEEfsEUjcTvSYSXR5kadB+El14mCKOfGByerdStxSxEpC9P4yscFjLDwTWWvHG26kJ5PZdaZYH7z6IvPpyajwYn0BgT+9V7H2F4oR64FU4KwqsIC9+0CRk7IyHIrBmjBo2L0hg7y/gaPVqgSWaBdMm6HJu9WrzvEgvkbZXy1qcvJU+xJW1MHv8QWAtEGRcnJ3AXnHl/N/sveLLfvYUSbI/JrZ9PUElXnmTK+qSnBvsYK/PNLUPFqVa5iCwapFlXAgUIbC37+oortwu0e59cKEP1asisZphkNjS4HF572pX8T1LgpdM9jbUz8D3ib+B646m9tkimWsvAiuXHOdBoAmBvX1XUYFF9apJHEeZZLMx3fN6pFJVp5jItyg6vNcuP2ZGuRQa2IHAagCZKSCQR6DI0mCseoXAygvOhGfFRM5l9WpzSdA1sG80svvQlBJqs2Cn72qWSNW0E4FVky5jQyCbQAlxFa1e8ULn7PjMdmKyuHLvq/R9MgX5Sj2AvApntqujlr0IrFpkGRcC2QRK7ni90o0tG/gCJ8Y2mD0v0W31/KVWrc5YY+LO0vIg4mqBi0ntIgJLjYoDIdCKQKm9gla6sbWKzYzz3Lslvecblv/4+YXLxwchvvYcl1m1ehRYrhrmG9cdsHPs0eJxc+3yxOBoIWpoDwKrIWymgkCcQKmlQTcT1as4b+tHxES2EzjHT+gp0wJN2avkoZd1AX7Wc9Sufwgsu7HFs+kIlNiSYcVlmekC3cjgqLh6KyJ/DlSXClVeojYYESAsDTZK6qmmQWBNFS6MtUugZN8V1Su7eaL1LCps/k9E/qvOkuCljdreL61fIx6HuBoxKiPYhMAaIQrYAAEJ7k+U0aMSu7laaiomdW4JRDcTDUHL2H5hi38sD+Xdp3cWhnqzJgmsl3XGNTuJu5iZRACBlYSLgyFQg8D9GxF56Rk584t6lZ6XGrGwMGasauT1MTPXQrxUIq/wnD1iR99VD+qzzInAmiVS2GmUQPBGlNkDE6saUL0ymkgnt2I7tXu9r9AHFctDZ8fsuYi4sn0t7fcOgbWfISNAYAeB4A0x86ZH9WpHMCY/VSNqnriYKeJjmFR2TF69ou8qlgX8XQSBRRZAoBuB4I3orcjhm3SzYje22SsG6UTWOSMW+xsSFQVOtIpWSdi1jPbND5mKPFv6xVwlCSCwStJkLAgkEfBWm3Z8UVO9SsJv5uAkcVW4kf0aosqWHTk+QtBufDQgGEfgas8GBJa9mOLRFARCN6LcKlPsxpY77hQwFzYyFvcnaE47th+cyKr0iTbYWxNXBnrJKqUCw7JESA5AoD2Bkru1n63fvNFOflNrH6E5ZkwVV4cf6vqlsWdmoU/fVd38sTc6FSx7McWj4QkUXxp0ewm59735Poir4fMhx0DVNgjngRvlgPnq1cNVpBpxzckPzhmBAAJrhChgw0IESi8NOnRUrxZKIBfvLUF9iaJhb5D56tX1C6sbsl0ruy15i8CyFE18GZxAjaXBo8C6/mXduHIxOHZT5mmEzNHhzG0+cmFZrl75mM+81JkbY85LJYDASiXG8RDIJlB6aTBWveImkB2qIU/UiKu7DyIP3356BU3FRvZrOBq7Zs1FNhMd8lKYxCgE1iSBwszZCdRYGqR6NXtW6O3XiJge7/ZT2TVprxLvGdTnJ0f6CCCwyAsIVCdQbWnQPRX22m/+rBWD6sGYcAKViMncnHYvjuimopOKK++Pl4l92Rtnzs8hgMDKocY5EEgiUGNpkOpVUgimPTj4IvBLjzrd+FXCr5NtewN+Ixwn9WMvB87fQwCBtYce50IgSqDa0iDVqyj72Q8YWVxtCvwz+ElFCU3ts185o9iPwBolEthhkEDwcfqdN57Nx/R3jm0wDFO6FF16c141flLwEqSmejXjMjVN7VNeLoMajcAaNDCYZYFArZ2fa/V0WWA+uw+qPa4qv09Qw9Ditgy1rlcNT46xSACBZTGq+DQAgR5Lgz0rGgMgn94Elbjq1MxuvXrFE4PTXz4DOoDAGjAomGSBQLXG9usdpSfvd7EQ6xI+aJbcZABx5Xw1Wb3iNTgl0pgxnhBAYJEQEChOoNZSw9ZNeMZ+l+LgJx1QJa4G6a3T2DpbLt74NAjrSdMZsx8JILBIBggUJ+D9hV+gIZlX4hQPVfcBR29mvwZkrXp1I654x2D3a8KOAQgsO7HEkyEIUL0aIgzDG6Hqtxqgmf0SpLXqFU8MDn+ZTG4gAmvyAGL+aAR8v/BLLJlQvRot0vn2qKpWg1VSVIJwoqU1xFV+/nKmlgACS0uK4yAQJUD1Kopo6QNUIsURGlCoRKtXA9ocSjaeGFz6MmzoPAKrIWymskwgdPOkemU56jrfXG7c/SLy8Exx/IBCJSquBhWFQYHFE4OKROSQ/QQQWPsZMgIE3KPrvlfXFLhZ8uTg3OmlEidnFws8CFGDVtSHAnlew27fmLxjsBVp5hFBYJEFENhN4P47Efn5dhiqV7vRTjvAsaL5WkTcv7HPYM3sl+ZGxZWIlMjzGKISf0dclaDIGHoCCCw9K46EQIBAtU1FQy90nqhisGLSaETJI5fBYxn1ZXD7z5zZ62rFK7G3zwis3hFg/skJ+G5Adx9EXn25zzFe6LyPX4+zrVStgqLEA3WG6pXvGp3B7h45zJwlCSCwStJkrAUJUL1aMOgel6OVnotzSgjwFtQtbCrq+6GCuGqRPcxBDxY5AIEdBGhs3wHP0Kmqfa3O/g7ayH4dDo1gHF2osB2DoYtsSleoYE0ZNozuTyB4AypwAw3esCfpd+kfnTYWqPe1cuYMtnFojNDs1Svv1hhcP7Gw8/eiBBBYRXEy2DoEmi8NTvS01gpZYLFqdY7b7NWro/A9P8V5dgpxtcJlOZiPCKzBAoI5MxAI3YBKLJnwSpyxM8By1epRYF1vxHkdksHFys31+U7koNkuY+zUw7rpCCCwpgsZBvclELzBFrjpBCsHBcbuS23+2ZOeEHTuFlgq7kEtWr0aPBdv7J9sabZHzJmzFgEEVi2yjGuUQI/qVYnKmNFwNHHr/o2IvFRONfCmoRoPor1XAwtHxJUmwhzTjgACqx1rZpqeQM0KU82xpwffyYGkdwg6Gwev7sQwzly98to+sBiMxYK/WyCAwLIQRXxoRCD0635vhWmrr2fv2I3QmJsmKjYuPZ68anV2JVa9GjUXa22XYi6pcagxAQRWY+BMNyuBmhWmmmPPyruX3cm9VpNXrR7FVei1TOcDBvWTva56XSnMGyeAwIoz4ojlCdDYvkYKpFatDi/scJmxeoW4spN/Nj1BYNmMK14VJVB1U9HAI/GjLscUBTvIYClVK/eam4dvPz3275YFjXyiwnLA6hXLgkaSz7QbCCzT4cW5/QRqLt8Fn04b8Ia2n+SYI0TFxaXZBuMS3ddrQJ+9NrMdw5gX2NJWIbCWDj/OxwnUamx3M3vH5kYRD0qBI1KqVvJeRL63VbU6I4wJzNEqqYirAsnPEI0IILAagWaaGQlUrV4FmopHu6HNGLeYzT/9LvLwLHbU6e8DVnCUlkcPi4mrEbed8L6iiO0YorHmgB4EEFg9qDPnBARqbp0QHPutyOGbCeBMamJ0OezaL+M37tka2xFXk154y5qNwFo29Di+TYDqlZ0MSVoOdG6/Fzn8xY7/Pk9mq155xZXh6qLt7FvFOwTWKpHGzwQCPcTViMsxCciGPTQqJK4tX6SKuFm9Gky48MTgsJcXhm0SQGCRIBC4IRC8+RRYMqKxvV3Ceasegektbr8QIh0TnSP1ASKu2l0vzFSaAAKrNFHGm5wA1avJA+iezvxaRF6LiPtX8bn7p8irrxQHGjlkluoV4spIwi3rBgJr2dDjuJ9A820ZBluOmT0vYtWZJ/59FJG/2tx+Iat6NVAuIq5mvxKxXwSBRRZA4JFAj+rVSMsxs6fC/W8ioq1EvfskrBQVrmM1LPZxx7id3c/Hur3MBtzpPSY+R8lFr53sDxfLQv4+HAEE1nAhwaA+BKpuyxB6ke5AFYM+1MvMmrz9gts09O/huVOXGIMjOZHlhJyL/wCfzZ60QXKx5mupBggBJixFAIG1VLhxduOmWlEEhW5so1QMZs6L1Eb2V1/6vS0mqnzDDyBeNqtXA9jnsAWFcoGHS2bOcWyflQACa9bIYXdBAj2WBtmWYV8Ak6tWniXB8/Lf3S8JO7vvMVu5LLlnitC5W43tIwj9YDwHEX81YsKY1gkgsKxHGP8UBII3nwJf7t6xC4yrcMvsIbFeohvHT0uCj/1U7glD99H0V9Wg2Dj+o1evEFc1kowx+xNAYPWPARZ0JdClesWSR1bMk5fxPooc/pS+bUOWcYkntaoabVb6Ggs9H6JgTAewLTGkHA6BKwIILFJicQK1tmXgV3n5xErpt5L/FpH/6VilirnfSEBsVa9aibwtFLwCJ5Yo/H1eAgiseWOH5bsJ9KhejXBT2w2uwwBJy4L/EpF/62BkypQNth0YfmnwV48AbiQ8U0LFsRDII4DAyuPGWSYIVKteVXwi0QT4RCfu34jIy8STah3utl74QuTuC5GHdyLy4bQH1nm+8y7ysflbCKyHgBEDiBgqV7EE4e/zE0BgzR9DPMgiULV65buxNbihZoEY/KR7J2iedzLSzf3j57lTNg7VVttqVjODNgyQh2wk2imfmbYxAQRWY+BMNwKBmjefmsJtBHYtbdAKldI2lXjxs6bqVlVgBapXNefUxCEU0952aWznGAikEUBgpfHiaBMEgq9UKbB0wrYM5VIkqam9xLSuWlXoNTeqfboqPU06qshnl/YSScoY8xBAYM0TKywtQqDmzYdf50VC9DhI0rsFc6Y+vy/QCevC7w7sJbBq5ncO4vM5iKs99Dh3TgIIrDnjhtXZBIKbiu6sJox6Y8sG1fnEasuDmX1VqThU9u/MOZ9N3vzu3HeFuErNHo63QQCBZSOOeKEiEPyiL/AKk1pPJKocM3ZQlaXBgst/MdwqceUGKSywRhQy/PCIZQt/t0sAgWU3tnj2hEDNDRe5iZRJtuSd2kPTVlz603i69d6/y/NLNnaPuLEt14UmWzjGLgEElt3Y4tlTgVVxTyAa2/cnW+zJzuPfz8Lp/A7By+0b3J5Up7+X7qdK8U69rUSBByou7fLyKzxHEgf2gkvBxbEmCSCwTIYVp54S6FG9KlmdsBzPY+UltDlnR4GQw1y9NOj21Sr43TvawxVUrnKyh3PsESh4kduDg0dWCASXbHbewLmR7MuQ4JLgqRG9ZyUq1bOkvrGdeXdtmze/C/d3aXlwTWhJcZx9Aggs+zFe3MOq1SvfsmPhm6fV8MWWBGfyu6u48i3FdcpBxNVMWYut9QkgsOozZoZuBDaXbHbehIK9Np0qB90gZ0wcFCQ7Y5Jhyq5TVHtdXc1QfWmwE8MRm+x3BZeTIbCbAAJrN0IGGJfA1tNce290NLanx93UkqDrG/s1kUGB7UAuZ7wRqoirxIBwOARqEkBg1aTL2B0JVK1eBZ6Q2ivaOuKqPrWl5aOcypW8Fzn8pRxmL88O1VMqV+ViykjWCCCwrEUUf04EalWvLAmFVslijVlSz5WDXKFp/ya/EVet0pl5IKAkgMBSguKwmQhUrV7R2K5OBUtLgmenc8TV4YUamerAm/zusDRI5UoVKg5amgACa+nwW3S+qrgKbZ7YoXoweuws3oBT9rk6xqeC8LmxodN7BulBHP0KxL7+BBBY/WOABUUJbL6mZMcNz6JgKAr+YjArTwle8hlBXDl77v9XRL44WTaSuOpkS60cZlwI7CeAwNrPkBGGIVC1euWeGDu/ouXCYxrb/4Dh+N+9FHl4dpUSk998hxFX1xXUHT8Yci9a7w+YyeOby4LzILBNAIFFhhgisFm92rGMZ61Ju0bILW0c+qRyFRDWQYaVRM8QfVc+FoirGpcTY5oggMAyEUacEKlavaKxPZhiR+7upcue6p7sELW9czprK4ZK4uq4NHiZgxXnCXH3LvsirnqnKfMPTQCBNXR4ME5PoPm2DBOLBz3V8JHBJwTdKRW2JShhs3aM5CVBN3BF0XNjT+Pc++l3e8u+2lzgOAjkE0Bg5bPjzGEI1KpesTToD3Et3r0TyonGu188YiJmWEXB03tpkMpVLPj8HQIhAggscmNyArFqw54m9FBVbM+Yk+OWzX2gKlZxanPLWhJsUKl7koONl+R819bdB5FXX9aOBuNDwAIBBJaFKC7tQ61qCtWrp2kVFSAVqzi1Ezzqm8+ABmKy59KgN/8bC7zacWd8CNQlgMCqy5fRqxKoVb1iz6srcbX1JN3kN91YDt0kcIOqlZuz59Ig4qrq1xaDL0MAgbVMqC06Wmu5KnTTXW1pMFrZaVDFqZm3SeKqkbA6+9vrqUHEVc2MY+y1CCCw1oq3IW83b447qiosDX5Okug79yZeEvRWiHzXxkcReX96QtAJrEafXkuDXkE9uYhuFDKmgYCHAAKLtJiUQLVX4vj2vNoh2GbDG61aNa7k1OCnqlx1inmvpUHEVY1MY8y1CSCw1o7/pN7T2F4ncFHhYaCaEfXRoe0kro6VtUuB39COmx8sDeeuk82MCoHeBBBYvSPA/BkEarwSZ+Wlwc1NQ8/xmXxJULXs2VtcdXjXIJWrjC8gToGAigACS4WJg8YhcO+WqNyrWXyfHRWWVfe8ilZ0LCwJutf4vA68zucyjzpWbXosDXqFdUcG43zLYAkEShBAYJWgyBiNCMTEQO5TfitWr1RVqx2CtVFKRKeJ9pSdR+goLG7yr4Et3vgbiHc0ITgAAs0IILCaoWai/QQ2n2x7K3L4Jn2OJcXV9VKUD5uFJUGNn873jsLCKwArs2dZMP17gjMgkE4AgZXOjDO6EKhWvfI9NSgiudWwLnCUk6qqVgaWBB2OWL48Iusoro52XudfZXsQV8qLhcMgsJsAAms3QgZoQ6DGtgz3b0Tkpcf+yjdFOIrTAAAQBklEQVS5NsSezqISHEb8VvnauXJ1FFfXO+RX5o+46nHlMee6BBBY68Z+Is9jN8ycatMqS4OqqpXLhcrLUq3SLbpB6tmQzv768i8nj7VcvfleWdBpbeM4CNgkgMCyGVdDXsXEVW7/TOhGXPMm1zosUXbOoAYN1a38nllc1RS43jzoLDBb5QTzQKAfAQRWP/bMrCIQvWlm/AoPCo93Igf3SP/kH3XVKoPdiGhSnhQ8CvKGr7255tW6ktTjCcURcwSbINCeAAKrPXNmVBOIVmAyqi/Bm3HGWGpHGh4YZXaqWvUWGqWQpIirw4tSs+aN01xcXfd4GXmAIY8+Z0GgNQEEVmvizJdAYLOx3Y2TUYGx3HsVrfadxFVvoZGQApuHqsRkZp6UsvE8jlcIVhT1N7lQca7SrBgPAjYIILBsxNGgF5qbZ2q/lFVxpa7iZAjSUVNLkx9H2wfwORifSra1fjpx1BzBLgj0JYDA6suf2YMEqlSvDO55pa1aWVkSdAmjFleDNHJ7c7mWuGq8rxZfYRCAQIgAAovcGJCA5ga6evVqxaqVWlwNtBzmFcCZbx3YulTZ42rALzJMWpwAAmvxBBjT/dLVK2tLgxoB6rZfsFS1Ooqr66ZtX/pWqgzlXCmhOKX+OIjN7XtS0FrsYwz4OwTGI4DAGi8mi1ukEQ+pN6iQYEsdp3doVtt+4cx7Rr+DeVx42fJ6nrsPIg/f9t2Kovd1wvwQGIMAAmuMOGDFIwGqV/5k0AjP45mFb+C9U1O1FDpYta5VUzt7XPXOTuaHwBYBBBb5MRABjYhIqTpZWBpUV28G6jsqlVIqcTXQkuBjxc23lFnQTm9OGIx/qTxiHAj0IYDA6sOdWb0EilevJn9qUCM4LVatnE/TiqsfROT1VXoXFD+t99PiqwoCEMglgMDKJcd5hQloxMQq1auVq1YqcTXYkuBj5conrkQkJW+3LivvNVJQvBW+pBkOAosTQGAtngBjuF+6WhEUaxPcjDRC8xi1gktOY2TBZyui/g8aw9rL0a1fszNSTmALBOYkgMCaM26GrFaJq4QqwOZ4AzeAp1StrD6CHxVXg4rK2k3tiCtDX3i4shABBNZCwR7T1WjfVWK1JrhX0qA3Z1XV5hy6gX3Ym12ziqtj/Co1tQdFt+E82JtHnA+BcQggsMaJxYKWRG+qJybaHpbZlgbvvxO5+5vIw7NI8AftOSqVspt5MLjvtTYTRVyVyi7GgUAvAgisXuSXn1e7NCjK14ps3aS1Aq1VUNTLgYnVu1b2l5wnJq4OL0rOVnasWpuJ1u7nKkuB0SAAAT8BBBaZ0YmApnrldqV+9aXOwOBS40DLKUnCavDKjS4q20dtvvpmoLj5vKglgmqJthLxYgwIQCCFAAIrhRbHFiRQsvfq/o2IvPQYN8hNOklYrVC1+lpEXN9S6DPwwwjO5FpN7Yirgl8wDAWB7gQQWN1DsKIBquVBpTgaeWkwWVitULUK7BX1eB0MLq6OAqtwU3swTwbdkmLF7yx8hkA6AQRWOjPO2E1Aszyo3edp1KVBlY+XJJW9Zrvhdxxgk4lSUHc0/zh16ab24I8NxFXvUDM/BHYSQGDtBMjpOQRUy4OKSkbwhv1O5OCWoTp8VNW5S7tWqFq5WLjXx4RiMrm4yn3Bdq0+rg5pz5QQgMANAQQWSdGYgLayE3vyb7SlweTlQMd9EmGxJ0WiglMhpPfMX+rc0mKo9Hil/GQcCECgFAEEVimSjKMkoBJYEeEx2lKTyqfFqlbO3dgWDLPsSF9aDM24Ga7y8uYwCEDgkQACi2RoTGDz0fyzLRsCa7Mi0qEipPLnknEHGxuH+PNTdgaWBI8iMfTEY0YcN7lkjNc6rswHAQikEEBgpdDi2AIEfvo9vnN5aHkwttwUW1YsYP7jEDFbbuZaoNdqU5AoxHPJ+JQayyugMxrQR6u6luLDOBCAQIgAAovcaEwguGfVyY7Q5qJRQdOwApC8JNjQtsbhfDJdlMsk/VZnp5qIq8mY9Mwv5obAXAQQWHPFy4C10SU1T3VgFHEVXfryxWeBG2iUS0bFp3eql9r0c1N0LpAbvePI/BDoRwCB1Y/9ojOnCqxoVaTRzTtqx3U8V1kSjG0cOmH1roS42hSdi+TGol9xuA2B83oMJCDQlkBUqFwJpujxDaoAUVF4jXBCUZGaBdGqlRuwQWxS7Y4dX+KJQcRVjDJ/h8AKBKhgrRDloXyMipULcRIVV5WFTHR+H9nKNo0QzCiXSSs0RcTVVkWvUbV1hBzBBghAAIFFDjQmoBVY0b6ryru1R+1ccElQVbWaVGBWF1eTcmn89cB0EDBEAIFlKJhzuKKpfhxeiMRep1NrS4aosPNhXqAyoYnbLBuH+kLozbcEUbQpyBPGmeMqxkoIQCBOAIEVZ8QRRQlkCZgrC2qIq6NdP4vIV4nuGr95Wq5anSO9R1xF+RjPj8SrhcMhsBABBNZCwR7H1Vh1atPSCjesaHUmULWauWITy4aocHADTNprden7nr2uoj8WJmzyj+UFf4cABLQEEFhaUhxXkECWoDnNX7J6pRIRPr8riLyCeHcPFRUObgYDDEJ5qMkxK+9Z3J0sDAABCAQIILBIjU4EkpvIC97Us4WVgYrNVrhVXIww2LPXVUxcuR5CPhCAwOoEEFirZ0A3/1VVkkvrClVMsqtnhebvBjwysYqLEQa54ioqQI3wGTVHsQsCcxFAYM0VL2PWqqtYhW5c6vkuORup2IRSJyoa3ImGGORuxxD9QVAoR41d4rgDgYUJILAWDn5/16M3rUI3dpWI8OEwftNUVa2+Fzn8vX+ulLAgmG+ROEc5Gc+TEuwZAwLrEUBgrRfzwTwO3rzeihy+2W9sVMR5prj7IPLwn3aExbWLKsFpcG+vnO0YouKKJwX3X6SMAAGTBBBYJsM6m1PHm9jzC6tdRcBVr3Z+ojfHFatWv35a8nN7foU+haqGO0NX/PQscbXFyqAALQ6dASGwNAEE1tLht+x8TuVqxpcTa2OoEptGl7q84mqjQhrNHcSVNu04DgILE0BgLRx8264nbWZq+IapXQ60ummq98GGDSEZFaJGRajtbwO8g0APAgisHtSZszKB6E3ycn7DN0zVU5OW/XdLz6+vkm1DTEfzxjCrypckw0NgQQIIrAWDbtvl6E1yAXGlYmC01+oc3tS9rjbFqHFWtr8R8A4CvQggsHqRZ94KBFTC4jyvwWqEajnQ+W/8ybcUcRVlZnj5uMIlyJAQgMAjAQQWyWCIgLrvypi4ioqEc4wXEAtJ4sq3hLhAhdPQJY8rEBiYAAJr4OBgWgoBdfXKkLhKEVZWm9gvcyRll/Zovhiv8qVcWxwLAQjkEEBg5VDjnMEIRG+WBis4ap8XEQpJ4iqyv9UKYnSwSxhzIGCQAALLYFDXckktNETkYCDf1f4aqtTFMlorrqIVvwWWUGMs+TsEIFCKgIEbTikUjDMfAbXYcK5NLjii4uCiSrdSBUb7fsHo5qGT58d8Vy8WQ8A6AQSW9Qib9m+FpnYnDO5+EXl4FgnlglsJqMUVzeymvwdwDgJjEkBgjRkXrIoSiFYkJu+7omK1nQJqcRV79+IiPWrRC4oDIACBwgQQWIWBMlwrAvdvRORlfLbZ+q4QVvGYFhFX9FvFQXMEBCCwgwACawc8Tu1J4P43EfkqYsFE1YkkYfVO5OCWvRb8aMRVtLpJv9WCmYPLEGhNAIHVmjjzFSIQ7b9yIuTrQpNVHEYtrJwN34sc/l7RmMGHDgqni2pU9MEHxNXgUcY8CFghgMCyEsml/IjeRB2NwatXScIKUSBFxNXgObHURYyzEDBPAIFlPsQWHdx8Me/J4RF7r5JElfODPqFjNGPiKvqk5YJPWFq87vEJAnMRQGDNFS+s/XzDfYiAGKjicxQH7r/np381MUQQPFKKiiu2YNBkFMdAAALNCSCwmiNnwv0EogKr81LQURT88Gn/qj8r9q+6xIGwepIcW+LKbaYqryOidSChvT/rGQECEJiLAAJrrnhhra6C1WlpLXkJ8BxPhNVNZm+Kq3cncbV1PSCu+LaAAAS6EkBgdcXP5HkEND1YrZrcs0WVcx1h5U2A4EMM70XkY6Rq5Y5xT1s6tnwgAAEIdCOAwOqGnonzCUT3Ofr06sG7DyKvvsyfI3TmcW73iS1PRaorxwZ2RMBt5SrQU+XiqXld0OFF+ZgzIgQgAIF0AgisdGacMQQBVRXrrcjhm3xzH8VUapO6b0qqVdFABCtXrmr1ReT0TsvCUac4AAIQWJQAAmvRwM/vtmovLOdm4o1315KfD6sTB3+lWhXLOHU8fQPRbxXDy98hAIHmBBBYzZEzYTkCqirW9XSuR+f0ip3jstOHiwNK7fzuqlWuEZtlQFWwEVcqTBwEAQhMRQCBNVW4MPYpAU0vVlNmLAMm494lrjpvx5HsLCdAAAILEUBgLRRsm65mVbFKokBUZdNEXGWj40QIQGB4Agis4UOEgdsEjlWsn/9Y9mvC6ySq3Fw8CZhH/P6NiLzMODexpy5jBk6BAAQgUIAAAqsARIYYgUD2DVth/LFX6y09VQpUqkOyq440s6v4chAEIDACAQTWCFHAhoIEdi07XdrB0l/BqHwealfPHOKqeDwYEAIQqEkAgVWTLmN3JKARWjdPEfLkX7WIIa6qoWVgCEBgSAIIrCHDglHlCZw3DXU9U+7/6Z0qzzg0okbsBq3hScF2gWImCECgIAEEVkGYDAUBCFwTyBZXLNGSTBCAwNQEEFhThw/jITAqgV1LgjwpOGpYsQsCEFATQGCpUXEgBCCgI5BdtXLD08yug8xREIDA4AQQWIMHCPMgMBeBXeKKfqu5go21EIDABgEEFukBAQgUIpAtrlgSLBQBhoEABMYhgMAaJxZYAoGJCbB56MTBw3QIQKACAQRWBagMCYG1CGSJK54SXCtJ8BYCyxFAYC0XchyGQEkC979lvAeSJcGSIWAsCEBgSAIIrCHDglEQGJ1A9jYMNLKPHlrsgwAEihBAYBXByCAQWIlAlriiarVSiuArBCAgCCySAAIQSCCQJa7Y2yqBMIdCAAI2CCCwbMQRLyDQgMD9GxF5mTARjewJsDgUAhCwRQCBZSueeAOBSgTunVh6njA4VasEWBwKAQjYI4DAshdTPIJAQQJuSfDuF5GHZ8pBqVopQXEYBCBgmwACy3Z88Q4COwik9FvdfRB5+Fbk4AQWHwhAAALLE0BgLZ8CAICAj0BSvxXLgSQRBCAAgSsCCCxSAgIQuCKg3pn9RxFx2y9QtSKHIAABCCCwyAEIQCBMQPXCZvqsSCEIQAACEQJUsEgRCEDggsBm3xXCilyBAAQgoCSAwFKC4jAIrEPg/uHK1/ci8j1LgetkAJ5CAAL7CSCw9jNkBAgYJHBcKnQfeqwMRheXIACB+gQQWPUZMwMEIAABCEAAAosRQGAtFnDchQAEIAABCECgPgEEVn3GzAABCEAAAhCAwGIE/h/YJv7wsRd5fQAAAABJRU5ErkJggg==
                      middleName: 'Александрович '
                      bankAccount:
                        account: '40802810400006032578'
                        bankName: АО «Т-Банк»
                        bankNumber: '044525974'
                        correspondentAccount: '30101810145250000974'
                      citizenship: ''
                      passportDate: '2023-10-03'
                      personNumber: ''
                      livingAddress:
                        zip: ''
                        city: ''
                        street: ''
                        country: ''
                        buildingNumber: ''
                        apartmentNumber: ''
                      postalAddress:
                        zip: '352430'
                        city: Курганинск
                        street: Демьяна Бедного
                        country: Россия
                        buildingNumber: '151'
                        apartmentNumber: '1'
                      passportIssuer: ГУ МВД РОССИИ ПО КРАСНОДАРСКОМУ КРАЮ
                      passportNumber: '0323681479'
                      passportIssuerCode: '230040'
                    contractType: ip
                    royalty: 80
                  login: danilmngmnt@gmail.com
                statusCode: 200
  /finance/balance:
    get:
      summary: GET balance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      EUR:
                        type: number
                      RUB:
                        type: number
                  statusCode:
                    type: number
              example:
                data:
                  EUR: 0
                  RUB: 0
                statusCode: 200
  /releases:
    post:
      summary: POST releases
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      count:
                        type: number
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            levelPlan:
                              type: string
                            level:
                              type: string
                            checklist:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      field:
                                        type: string
                                      newValue:
                                        type: string
                                      oldValue:
                                        type: string
                                      isAccepted:
                                        type: boolean
                                      description:
                                        type: string
                                status:
                                  type: string
                            isReleased:
                              type: boolean
                            articleLabel:
                              type: string
                            internalId:
                              type: string
                            releaseVersion:
                              type: string
                            releaseId:
                              type: number
                            createDate:
                              type: string
                            releaseDate:
                              type: string
                            originalReleaseDate:
                              type: string
                            ownEan:
                              type: object
                              nullable: true
                            clineValue:
                              type: string
                            clineYear:
                              type: string
                            plineValue:
                              type: string
                            plineYear:
                              type: string
                            label:
                              type: string
                            labelId:
                              type: number
                            status:
                              type: string
                            contractSigned:
                              type: number
                            client:
                              type: object
                              nullable: true
                            language:
                              type: object
                              nullable: true
                            releaseType:
                              type: string
                            genre:
                              type: object
                              properties:
                                genreId:
                                  type: number
                            additionalGenres:
                              type: array
                              items: {}
                            title:
                              type: string
                            media:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  filename:
                                    type: string
                                  url:
                                    type: string
                                  type:
                                    type: string
                            artists:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  role:
                                    type: string
                            persons:
                              type: array
                              items: {}
                            tracks:
                              type: array
                              items: {}
                            streamingPlatforms:
                              type: array
                              items: {}
                            countries:
                              type: array
                              items: {}
                            isFromMigration:
                              type: object
                              nullable: true
                  statusCode:
                    type: number
              example:
                data:
                  count: 144
                  data:
                  - levelPlan: BUSINESS
                    level: PREMIUM
                    checklist:
                      data:
                      - field: cover
                        newValue: clients/production/58251/releases/cover/v98CpW2FegfxwnYGoFDpwXvfrBOs38pmFH63.jpg
                        oldValue: undefined
                        isAccepted: true
                        description: ''
                      - field: artists
                        newValue:
                        - id: 86370
                          role: MAIN
                        oldValue: []
                        isAccepted: true
                        description: ''
                      - field: title
                        newValue: Idea 10
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: releaseVersion
                        newValue: TikTok Music
                        oldValue:
                        isAccepted: true
                        description: ''
                      - field: releaseDate
                        newValue: '2025-07-07'
                        oldValue: '2025-06-28'
                        isAccepted: true
                        description: ''
                      - field: originalReleaseDate
                        newValue: '2025-07-07'
                        oldValue: '2025-06-28'
                        isAccepted: true
                        description: ''
                      - field: labelId
                        newValue: 41655
                        isAccepted: true
                        description: ''
                      - field: clineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: clineValue
                        newValue: KAZIOL
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: plineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      status: PROCESSED
                    isReleased: false
                    articleLabel: MUA229737
                    internalId: alligator-r2229737
                    releaseVersion: TikTok Music
                    releaseId: 229737
                    createDate: '2025-06-27T23:50:32Z'
                    releaseDate: '2025-07-07T00:00:00Z'
                    originalReleaseDate: '2025-07-07T00:00:00Z'
                    ownEan:
                    clineValue: KAZIOL
                    clineYear: '2025'
                    plineValue: KAZIOL
                    plineYear: '2025'
                    label: KAZIOL
                    labelId: 41655
                    status: WAITING
                    contractSigned: 0
                    client:
                    language:
                    releaseType: SINGLE
                    genre:
                      genreId: 196
                    additionalGenres: []
                    title: Idea 10
                    media:
                    - id: 1233919
                      filename: KAZIOL - Idea 10 (TikTok Music).png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover_750/WNNazAYXzW4E4mtHNZpyFDNbFrY5YI5aBvEt.jpg
                      type: cover_750
                    - id: 1233918
                      filename: KAZIOL - Idea 10 (TikTok Music).png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover/v98CpW2FegfxwnYGoFDpwXvfrBOs38pmFH63.jpg
                      type: cover
                    artists:
                    - id: 86370
                      role: MAIN
                    persons: []
                    tracks: []
                    streamingPlatforms: []
                    countries: []
                    isFromMigration:
                  - levelPlan: BUSINESS
                    level: PREMIUM
                    checklist:
                      data:
                      - field: cover
                        newValue: clients/production/58251/releases/cover/c063JTnTkSlZTwtaaiBVkmTcv1owJX6XPR8q.jpg
                        oldValue: undefined
                        isAccepted: true
                        description: ''
                      - field: artists
                        newValue:
                        - id: 85774
                          role: MAIN
                        oldValue: []
                        isAccepted: true
                        description: ''
                      - field: title
                        newValue: Can't Decide
                        oldValue: Cant Decide
                        isAccepted: true
                        description: ''
                      - field: releaseDate
                        newValue: '2025-07-22T00:00:00Z'
                        oldValue: '2025-06-28T00:00:00Z'
                        isAccepted: true
                        description: ''
                      - field: labelId
                        newValue: 41344
                        isAccepted: true
                        description: ''
                      - field: clineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: clineValue
                        newValue: DJMVS
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: plineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: plineValue
                        newValue: DJMVS
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: genre
                        newValue:
                          genreId: 86
                        isAccepted: true
                        description: ''
                      status: PROCESSED
                    isReleased: false
                    articleLabel: MUA229730
                    internalId: alligator-r2229730
                    releaseVersion:
                    releaseId: 229730
                    createDate: '2025-06-27T23:39:01Z'
                    releaseDate: '2025-07-22T00:00:00Z'
                    originalReleaseDate:
                    ownEan:
                    clineValue: DJMVS
                    clineYear: '2025'
                    plineValue: DJMVS
                    plineYear: '2025'
                    label: DJMVS
                    labelId: 41344
                    status: WAITING
                    contractSigned: 0
                    client:
                    language:
                    releaseType: SINGLE
                    genre:
                      genreId: 86
                    additionalGenres: []
                    title: Can't Decide
                    media:
                    - id: 1233878
                      filename: 17.png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover/c063JTnTkSlZTwtaaiBVkmTcv1owJX6XPR8q.jpg
                      type: cover
                    - id: 1233879
                      filename: 17.png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover_750/qTF3VbZLE24OUfPQIwzRPQkPzWo3TnS9FSmT.jpg
                      type: cover_750
                    artists:
                    - id: 85774
                      role: MAIN
                    persons: []
                    tracks: []
                    streamingPlatforms: []
                    countries: []
                    isFromMigration:
                  - levelPlan: BUSINESS
                    level: PREMIUM
                    checklist:
                      data:
                      - field: cover
                        newValue: clients/production/58251/releases/cover/PQ4Juzo7rV0diWn6oKwOH2bxYFJCZgchiqOy.jpg
                        oldValue: undefined
                        isAccepted: true
                        description: ''
                      - field: artists
                        newValue:
                        - id: 85774
                          role: MAIN
                        oldValue: []
                        isAccepted: true
                        description: ''
                      - field: title
                        newValue: Dior
                        oldValue: Dior__
                        isAccepted: true
                        description: ''
                      - field: releaseDate
                        newValue: '2025-07-15T00:00:00Z'
                        oldValue: '2025-07-10T00:00:00Z'
                        isAccepted: true
                        description: ''
                      - field: labelId
                        newValue: 41344
                        isAccepted: true
                        description: ''
                      - field: clineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: clineValue
                        newValue: DJMVS
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: plineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: plineValue
                        newValue: DJMVS
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: genre
                        newValue:
                          genreId: 86
                        isAccepted: true
                        description: ''
                      status: PROCESSED
                    isReleased: false
                    articleLabel: MUA229723
                    internalId: alligator-r2229723
                    releaseVersion:
                    releaseId: 229723
                    createDate: '2025-06-27T23:29:39Z'
                    releaseDate: '2025-07-15T00:00:00Z'
                    originalReleaseDate:
                    ownEan:
                    clineValue: DJMVS
                    clineYear: '2025'
                    plineValue: DJMVS
                    plineYear: '2025'
                    label: DJMVS
                    labelId: 41344
                    status: WAITING
                    contractSigned: 0
                    client:
                    language:
                    releaseType: SINGLE
                    genre:
                      genreId: 86
                    additionalGenres: []
                    title: Dior
                    media:
                    - id: 1233819
                      filename: 16.png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover/PQ4Juzo7rV0diWn6oKwOH2bxYFJCZgchiqOy.jpg
                      type: cover
                    - id: 1233820
                      filename: 16.png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover_750/pIdtpEDVoEEUVAQVQkGdYUW2kbBKomtydCfS.jpg
                      type: cover_750
                    artists:
                    - id: 85774
                      role: MAIN
                    persons: []
                    tracks: []
                    streamingPlatforms: []
                    countries: []
                    isFromMigration:
                  - levelPlan: BUSINESS
                    level: PREMIUM
                    checklist:
                      data:
                      - field: cover
                        newValue: clients/production/58251/releases/cover/dXC4dkIJVTJk6DR10SOjug4wMa6cT00RV6TP.jpg
                        oldValue: undefined
                        isAccepted: true
                        description: ''
                      - field: artists
                        newValue:
                        - id: 85756
                          role: MAIN
                        oldValue: []
                        isAccepted: true
                        description: ''
                      - field: title
                        newValue: Nope your too late i already died
                        oldValue: Nope your too late i alreadydied
                        isAccepted: true
                        description: ''
                      - field: releaseDate
                        newValue: '2025-07-01T00:00:00Z'
                        oldValue: '2025-06-28T00:00:00Z'
                        isAccepted: true
                        description: ''
                      - field: labelId
                        newValue: 41334
                        isAccepted: true
                        description: ''
                      - field: clineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: clineValue
                        newValue: HWAREYOU?
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: plineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: plineValue
                        newValue: HWAREYOU?
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: genre
                        newValue:
                          genreId: 196
                        isAccepted: true
                        description: ''
                      status: PROCESSED
                    isReleased: false
                    articleLabel: MUA229716
                    internalId: alligator-r2229716
                    releaseVersion:
                    releaseId: 229716
                    createDate: '2025-06-27T23:18:03Z'
                    releaseDate: '2025-07-01T00:00:00Z'
                    originalReleaseDate:
                    ownEan:
                    clineValue: HWAREYOU?
                    clineYear: '2025'
                    plineValue: HWAREYOU?
                    plineYear: '2025'
                    label: HWAREYOU?
                    labelId: 41334
                    status: WAITING
                    contractSigned: 0
                    client:
                    language:
                    releaseType: SINGLE
                    genre:
                      genreId: 196
                    additionalGenres: []
                    title: Nope your too late i already died
                    media:
                    - id: 1233749
                      filename: 15.png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover_750/Cc5AUOYv6U1SJEFOeymHasdAtvmEMYUOmFLu.jpg
                      type: cover_750
                    - id: 1233747
                      filename: 15.png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover/dXC4dkIJVTJk6DR10SOjug4wMa6cT00RV6TP.jpg
                      type: cover
                    artists:
                    - id: 85756
                      role: MAIN
                    persons: []
                    tracks: []
                    streamingPlatforms: []
                    countries: []
                    isFromMigration:
                  - levelPlan: BUSINESS
                    level: PREMIUM
                    checklist:
                      data:
                      - field: cover
                        newValue: clients/production/58251/releases/cover/eLhivg4CIBCpiQzP28WqdWJFygORalfTIN8F.jpg
                        oldValue: undefined
                        isAccepted: true
                        description: ''
                      - field: artists
                        newValue:
                        - id: 85774
                          role: MAIN
                        oldValue: []
                        isAccepted: true
                        description: ''
                      - field: title
                        newValue: No Broke Boys
                        oldValue: No_Broke Boys
                        isAccepted: true
                        description: ''
                      - field: releaseDate
                        newValue: '2025-07-08T00:00:00Z'
                        oldValue: '2025-06-28T00:00:00Z'
                        isAccepted: true
                        description: ''
                      - field: labelId
                        newValue: 41344
                        isAccepted: true
                        description: ''
                      - field: clineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: clineValue
                        newValue: DJMVS
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: plineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: plineValue
                        newValue: DJMVS
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: genre
                        newValue:
                          genreId: 86
                        isAccepted: true
                        description: ''
                      status: PROCESSED
                    isReleased: false
                    articleLabel: MUA229709
                    internalId: alligator-r2229709
                    releaseVersion:
                    releaseId: 229709
                    createDate: '2025-06-27T23:05:53Z'
                    releaseDate: '2025-07-08T00:00:00Z'
                    originalReleaseDate:
                    ownEan:
                    clineValue: DJMVS
                    clineYear: '2025'
                    plineValue: DJMVS
                    plineYear: '2025'
                    label: DJMVS
                    labelId: 41344
                    status: WAITING
                    contractSigned: 0
                    client:
                    language:
                    releaseType: SINGLE
                    genre:
                      genreId: 86
                    additionalGenres: []
                    title: No Broke Boys
                    media:
                    - id: 1233676
                      filename: Без имени-30.png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover/eLhivg4CIBCpiQzP28WqdWJFygORalfTIN8F.jpg
                      type: cover
                    - id: 1233678
                      filename: Без имени-30.png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover_750/FPtlR2GciyWOwQytouTkT4RgvfkEabI7Eanu.jpg
                      type: cover_750
                    artists:
                    - id: 85774
                      role: MAIN
                    persons: []
                    tracks: []
                    streamingPlatforms: []
                    countries: []
                    isFromMigration:
                  - levelPlan: BUSINESS
                    level: PREMIUM
                    checklist:
                      data:
                      - field: cover
                        newValue: clients/production/58251/releases/cover/8Zhe3UfGo7siau7WWKYdu32tWqX8s1W6dkAl.jpg
                        oldValue: undefined
                        isAccepted: true
                        description: ''
                      - field: artists
                        newValue:
                        - id: 85774
                          role: MAIN
                        oldValue: []
                        isAccepted: true
                        description: ''
                      - field: title
                        newValue: Ma Tnsani Yalla Habibi
                        oldValue: Ma Tnsani YallaHabibi
                        isAccepted: true
                        description: ''
                      - field: releaseDate
                        newValue: '2025-07-03T00:00:00Z'
                        oldValue: '2025-06-28T00:00:00Z'
                        isAccepted: true
                        description: ''
                      - field: labelId
                        newValue: 41344
                        isAccepted: true
                        description: ''
                      - field: clineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: clineValue
                        newValue: DJMVS
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: plineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: plineValue
                        newValue: DJMVS
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: genre
                        newValue:
                          genreId: 86
                        isAccepted: true
                        description: ''
                      status: PROCESSED
                    isReleased: false
                    articleLabel: MUA229706
                    internalId: alligator-r2229706
                    releaseVersion:
                    releaseId: 229706
                    createDate: '2025-06-27T23:01:06Z'
                    releaseDate: '2025-07-03T00:00:00Z'
                    originalReleaseDate:
                    ownEan:
                    clineValue: DJMVS
                    clineYear: '2025'
                    plineValue: DJMVS
                    plineYear: '2025'
                    label: DJMVS
                    labelId: 41344
                    status: WAITING
                    contractSigned: 0
                    client:
                    language:
                    releaseType: SINGLE
                    genre:
                      genreId: 86
                    additionalGenres: []
                    title: Ma Tnsani Yalla Habibi
                    media:
                    - id: 1233654
                      filename: 14.png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover/8Zhe3UfGo7siau7WWKYdu32tWqX8s1W6dkAl.jpg
                      type: cover
                    - id: 1233655
                      filename: 14.png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover_750/naFigEtTOdzYneBs5bcTIXHeXDfru3KmSzk3.jpg
                      type: cover_750
                    artists:
                    - id: 85774
                      role: MAIN
                    persons: []
                    tracks: []
                    streamingPlatforms: []
                    countries: []
                    isFromMigration:
                  - levelPlan: BUSINESS
                    level: PREMIUM
                    checklist:
                      data:
                      - field: cover
                        newValue: clients/production/58251/releases/cover/bqyGvcbMCvBJwtp6tKRlJ9c2cp6CRHxwDCZ1.jpg
                        oldValue: undefined
                        isAccepted: true
                        description: ''
                      - field: artists
                        newValue:
                        - id: 86370
                          role: MAIN
                        oldValue: []
                        isAccepted: true
                        description: ''
                      - field: title
                        newValue: Comfort chain
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: releaseVersion
                        newValue: TikTok Music
                        oldValue:
                        isAccepted: true
                        description: ''
                      - field: releaseDate
                        newValue: '2025-07-04'
                        oldValue:
                        isAccepted: true
                        description: ''
                      - field: originalReleaseDate
                        newValue: '2025-07-04'
                        oldValue:
                        isAccepted: true
                        description: ''
                      - field: labelId
                        newValue: 41655
                        isAccepted: true
                        description: ''
                      - field: clineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: clineValue
                        newValue: KAZIOL
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: plineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      status: PROCESSED
                    isReleased: false
                    articleLabel: MUA229703
                    internalId: alligator-r2229703
                    releaseVersion: TikTok Music
                    releaseId: 229703
                    createDate: '2025-06-27T22:56:23Z'
                    releaseDate: '2025-07-04T00:00:00Z'
                    originalReleaseDate: '2025-07-04T00:00:00Z'
                    ownEan:
                    clineValue: KAZIOL
                    clineYear: '2025'
                    plineValue: KAZIOL
                    plineYear: '2025'
                    label: KAZIOL
                    labelId: 41655
                    status: WAITING
                    contractSigned: 0
                    client:
                    language:
                    releaseType: SINGLE
                    genre:
                      genreId: 196
                    additionalGenres: []
                    title: Comfort chain
                    media:
                    - id: 1233641
                      filename: KAZIOL - Comfort chain (TikTok Music).png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover_750/RrppiT8r6mlDg6ELJlXVLN3VACRMcgeEbpjh.jpg
                      type: cover_750
                    - id: 1233640
                      filename: KAZIOL - Comfort chain (TikTok Music).png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover/bqyGvcbMCvBJwtp6tKRlJ9c2cp6CRHxwDCZ1.jpg
                      type: cover
                    artists:
                    - id: 86370
                      role: MAIN
                    persons: []
                    tracks: []
                    streamingPlatforms: []
                    countries: []
                    isFromMigration:
                  - levelPlan: BUSINESS
                    level: PREMIUM
                    checklist:
                      data:
                      - field: cover
                        newValue: clients/production/58251/releases/cover/8vaIa7uQpLpR66EV6KKP6C9ZVRRixJw9SJpu.jpg
                        oldValue: clients/production/58251/releases/cover/ZabLL0dEQPDKHmKkpKErju7WaQj1mIFwqLha.jpg
                        isAccepted: true
                        description: ''
                      - field: artists
                        newValue:
                        - id: 85774
                          role: MAIN
                        oldValue: []
                        isAccepted: true
                        description: ''
                      - field: title
                        newValue: Desert Rose
                        oldValue: DesertRose
                        isAccepted: true
                        description: ''
                      - field: releaseDate
                        newValue: '2025-07-01T00:00:00Z'
                        oldValue: '2025-06-28T00:00:00Z'
                        isAccepted: true
                        description: ''
                      - field: labelId
                        newValue: 41344
                        oldValue: 41515
                        isAccepted: true
                        description: ''
                      - field: clineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: clineValue
                        newValue: DJMVS
                        oldValue: 8DVOLUME
                        isAccepted: true
                        description: ''
                      - field: plineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: plineValue
                        newValue: DJMVS
                        oldValue: 8DVOLUME
                        isAccepted: true
                        description: ''
                      - field: genre
                        newValue:
                          genreId: 86
                        isAccepted: true
                        description: ''
                      status: PROCESSED
                    isReleased: false
                    articleLabel: MUA229696
                    internalId: alligator-r2229696
                    releaseVersion:
                    releaseId: 229696
                    createDate: '2025-06-27T22:44:37Z'
                    releaseDate: '2025-07-01T00:00:00Z'
                    originalReleaseDate:
                    ownEan:
                    clineValue: DJMVS
                    clineYear: '2025'
                    plineValue: DJMVS
                    plineYear: '2025'
                    label: DJMVS
                    labelId: 41344
                    status: WAITING
                    contractSigned: 0
                    client:
                    language:
                    releaseType: SINGLE
                    genre:
                      genreId: 86
                    additionalGenres: []
                    title: Desert Rose
                    media:
                    - id: 1233648
                      filename: 13.png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover/8vaIa7uQpLpR66EV6KKP6C9ZVRRixJw9SJpu.jpg
                      type: cover
                    - id: 1233649
                      filename: 13.png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover_750/F7CuCXByQTxznjanKvXYsEUmlp7WUzteASNf.jpg
                      type: cover_750
                    artists:
                    - id: 85774
                      role: MAIN
                    persons: []
                    tracks: []
                    streamingPlatforms: []
                    countries: []
                    isFromMigration:
                  - levelPlan: BUSINESS
                    level: PREMIUM
                    checklist:
                      data:
                      - field: cover
                        newValue: clients/production/58251/releases/cover/jYLzdWtkkIPr7axSKfFoBw3XBHGhLDmsgsnA.jpg
                        oldValue: undefined
                        isAccepted: true
                        description: ''
                      - field: artists
                        newValue:
                        - id: 86370
                          role: MAIN
                        oldValue: []
                        isAccepted: true
                        description: ''
                      - field: title
                        newValue: Assumptions
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: releaseVersion
                        newValue: TikTok Music
                        oldValue:
                        isAccepted: true
                        description: ''
                      - field: releaseDate
                        newValue: '2025-07-01'
                        oldValue:
                        isAccepted: true
                        description: ''
                      - field: originalReleaseDate
                        newValue: '2025-07-01'
                        oldValue:
                        isAccepted: true
                        description: ''
                      - field: labelId
                        newValue: 41655
                        isAccepted: true
                        description: ''
                      - field: clineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: clineValue
                        newValue: KAZIOL
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: plineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      status: PROCESSED
                    isReleased: false
                    articleLabel: MUA229691
                    internalId: alligator-r2229691
                    releaseVersion: TikTok Music
                    releaseId: 229691
                    createDate: '2025-06-27T22:36:07Z'
                    releaseDate: '2025-07-01T00:00:00Z'
                    originalReleaseDate: '2025-07-01T00:00:00Z'
                    ownEan:
                    clineValue: KAZIOL
                    clineYear: '2025'
                    plineValue: KAZIOL
                    plineYear: '2025'
                    label: KAZIOL
                    labelId: 41655
                    status: WAITING
                    contractSigned: 0
                    client:
                    language:
                    releaseType: SINGLE
                    genre:
                      genreId: 196
                    additionalGenres: []
                    title: Assumptions
                    media:
                    - id: 1233567
                      filename: KAZIOL - Assumptions (TikTok Music).png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover_750/oMEiUgPkdyjl9GMYsg7TNpaGIFcSd3FJ0FpF.jpg
                      type: cover_750
                    - id: 1233566
                      filename: KAZIOL - Assumptions (TikTok Music).png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover/jYLzdWtkkIPr7axSKfFoBw3XBHGhLDmsgsnA.jpg
                      type: cover
                    artists:
                    - id: 86370
                      role: MAIN
                    persons: []
                    tracks: []
                    streamingPlatforms: []
                    countries: []
                    isFromMigration:
                  - levelPlan: BUSINESS
                    level: PREMIUM
                    checklist:
                      data:
                      - field: cover
                        newValue: clients/production/58251/releases/cover/ThvuENXTEm0mqWeJw468H4QGcA2aZNZdQ6Xs.jpg
                        oldValue: undefined
                        isAccepted: true
                        description: ''
                      - field: artists
                        newValue:
                        - id: 86108
                          role: MAIN
                        oldValue: []
                        isAccepted: true
                        description: ''
                      - field: title
                        newValue: Plz Stay
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: releaseVersion
                        newValue: 8D SLOWED
                        oldValue: 8D SLO
                        isAccepted: true
                        description: ''
                      - field: releaseDate
                        newValue: '2025-07-08T00:00:00Z'
                        oldValue: '2025-06-27T00:00:00Z'
                        isAccepted: true
                        description: ''
                      - field: labelId
                        newValue: 41515
                        isAccepted: true
                        description: ''
                      - field: clineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: clineValue
                        newValue: 8DVOLUME
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      - field: plineYear
                        newValue: '2025'
                        oldValue: 0
                        isAccepted: true
                        description: ''
                      - field: plineValue
                        newValue: 8DVOLUME
                        oldValue: ''
                        isAccepted: true
                        description: ''
                      status: PROCESSED
                    isReleased: false
                    articleLabel: MUA229627
                    internalId: alligator-r2229627
                    releaseVersion: 8D SLOWED
                    releaseId: 229627
                    createDate: '2025-06-27T20:36:52Z'
                    releaseDate: '2025-07-08T00:00:00Z'
                    originalReleaseDate:
                    ownEan:
                    clineValue: 8DVOLUME
                    clineYear: '2025'
                    plineValue: 8DVOLUME
                    plineYear: '2025'
                    label: 8DVOLUME
                    labelId: 41515
                    status: WAITING
                    contractSigned: 0
                    client:
                    language:
                    releaseType: SINGLE
                    genre:
                      genreId: 92
                    additionalGenres: []
                    title: Plz Stay
                    media:
                    - id: 1233147
                      filename: Без имени-57.png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover_750/I5EnDqiAeDQEmB7knDMKQbI75coZImKcSevr.jpg
                      type: cover_750
                    - id: 1233146
                      filename: Без имени-57.png
                      url: 
                        https://alligator-media-storage.s3.amazonaws.com/clients/production/58251/releases/cover/ThvuENXTEm0mqWeJw468H4QGcA2aZNZdQ6Xs.jpg
                      type: cover
                    artists:
                    - id: 86108
                      role: MAIN
                    persons: []
                    tracks: []
                    streamingPlatforms: []
                    countries: []
                    isFromMigration:
                statusCode: 201
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: string
              example:
                statusCode: 400
                message: Bad Request
                errors:
                - 'status must be one of the following values: DRAFT, EDIT, ERROR,
                  MODERATE, WAITING, PARTIAL_UPLOAD, RELEASED, TASK, WORKING, UPLOADED,
                  REMOVED'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                search:
                  type: string
                limit:
                  type: number
                skip:
                  type: number
                startDate:
                  type: object
                  nullable: true
                endDate:
                  type: object
                  nullable: true
            example:
              search: ''
              limit: 10
              skip: 0
              startDate:
              endDate:
              status: ALL
              _changes: true
    get:
      summary: GET releases
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        releaseId:
                          type: number
                        title:
                          type: string
                        ean:
                          type: object
                          nullable: true
                  statusCode:
                    type: number
              example:
                data:
                - releaseId: 229737
                  title: Idea 10
                  ean:
                - releaseId: 229730
                  title: Can't Decide
                  ean:
                - releaseId: 229723
                  title: Dior
                  ean:
                - releaseId: 229716
                  title: Nope your too late i already died
                  ean:
                - releaseId: 229709
                  title: No Broke Boys
                  ean:
                - releaseId: 229706
                  title: Ma Tnsani Yalla Habibi
                  ean:
                - releaseId: 229703
                  title: Comfort chain
                  ean:
                - releaseId: 229696
                  title: Desert Rose
                  ean:
                - releaseId: 229691
                  title: Assumptions
                  ean:
                - releaseId: 229627
                  title: Plz Stay
                  ean:
                - releaseId: 229623
                  title: TENTON
                  ean:
                - releaseId: 229619
                  title: Poker Face
                  ean:
                - releaseId: 229611
                  title: Keep it 2 myself
                  ean:
                - releaseId: 229609
                  title: I Adore You X The Hills
                  ean:
                - releaseId: 229607
                  title: Shake It To The Max
                  ean:
                - releaseId: 229605
                  title: DANCE WITH ME
                  ean:
                - releaseId: 229516
                  title: Sorry I'm Here For Someone Else
                  ean: '5016122480748'
                - releaseId: 229515
                  title: NIGHTS LIKE THESE
                  ean: '5016122480755'
                - releaseId: 229514
                  title: Mystical Magical
                  ean: '5016122480762'
                - releaseId: 229513
                  title: Mr Electric Blue
                  ean: '5016122480779'
                - releaseId: 229512
                  title: luther
                  ean: '5016122480786'
                - releaseId: 229511
                  title: In The Stars
                  ean: '5016122480793'
                - releaseId: 229510
                  title: High Fashion
                  ean: '5016122480809'
                - releaseId: 229509
                  title: Cry
                  ean: '5016122480816'
                - releaseId: 229508
                  title: Bloodline
                  ean: '5016122480823'
                - releaseId: 229507
                  title: Beautiful Things
                  ean: '5016122480830'
                - releaseId: 229506
                  title: Bad Dreams
                  ean: '5016122480847'
                - releaseId: 229505
                  title: The Door
                  ean: '5016122480854'
                - releaseId: 229504
                  title: Aquamarine
                  ean: '5016122480861'
                - releaseId: 228891
                  title: NOW IT'S GONE
                  ean: '5016122477335'
                - releaseId: 228851
                  title: luther
                  ean: '5016122477618'
                - releaseId: 228850
                  title: The Door
                  ean: '5016122477625'
                - releaseId: 228849
                  title: Sorry I'm Here For Someone Else
                  ean: '5016122477632'
                - releaseId: 228848
                  title: NIGHTS LIKE THESE
                  ean: '5016122477649'
                - releaseId: 228847
                  title: Mystical Magical
                  ean: '5016122477656'
                - releaseId: 228846
                  title: Mr Electric Blue
                  ean: '5016122477663'
                - releaseId: 228844
                  title: In The Stars
                  ean: '5016122477670'
                - releaseId: 228843
                  title: High Fashion
                  ean: '5016122477687'
                - releaseId: 228842
                  title: Diet Pepsi
                  ean: '5016122477694'
                - releaseId: 228841
                  title: Cry
                  ean: '5016122477700'
                - releaseId: 228840
                  title: Bloodline
                  ean: '5016122477717'
                - releaseId: 228839
                  title: Beautiful Things
                  ean: '5016122477724'
                - releaseId: 228838
                  title: Bad Dreams
                  ean: '5016122477731'
                - releaseId: 228837
                  title: The Door
                  ean: '5016122477748'
                - releaseId: 228836
                  title: Sorry I'm Here For Someone Else
                  ean: '5016122477755'
                - releaseId: 228835
                  title: Aquamarine
                  ean: '5016122477762'
                - releaseId: 228834
                  title: You Don't
                  ean: '5016122477779'
                - releaseId: 228833
                  title: Flames
                  ean: '5016122477786'
                - releaseId: 228832
                  title: Feel It
                  ean: '5016122477793'
                - releaseId: 228765
                  title: 2 Hands
                  ean: '5016122476871'
                - releaseId: 228764
                  title: Chihiro x Streets
                  ean: '5016122476888'
                - releaseId: 228761
                  title: hold me
                  ean: '5016122476901'
                - releaseId: 228758
                  title: I Don't Wanna Dance
                  ean: '5016122476918'
                - releaseId: 228757
                  title: Make You Mine
                  ean: '5016122476925'
                - releaseId: 228756
                  title: Pretty Boy
                  ean: '5016122476932'
                - releaseId: 228753
                  title: Keep it 2 myself
                  ean: '5016122474730'
                - releaseId: 228751
                  title: Diet Pepsi
                  ean: '5016122474747'
                - releaseId: 228750
                  title: Like That
                  ean: '5016122474754'
                - releaseId: 228749
                  title: Home
                  ean: '5016122474761'
                - releaseId: 228747
                  title: eyes don't lie
                  ean: '5016122476956'
                - releaseId: 228711
                  title: Rock Your Body
                  ean: '5016122474808'
                - releaseId: 228254
                  title: Get Lucky
                  ean: '5016122473283'
                - releaseId: 228253
                  title: Angels Like You
                  ean: '5016122473290'
                - releaseId: 228216
                  title: Older
                  ean: '5016122473429'
                - releaseId: 228215
                  title: MATCH MADE IN HELL
                  ean: '5016122473436'
                - releaseId: 228213
                  title: Miss Possessive
                  ean: '5016122473443'
                - releaseId: 228212
                  title: Like You
                  ean: '5016122473450'
                - releaseId: 228210
                  title: breathe
                  ean: '5016122473467'
                - releaseId: 228208
                  title: D&G
                  ean: '5016122473474'
                - releaseId: 228206
                  title: Candy
                  ean: '5016122473481'
                - releaseId: 228205
                  title: Kisses
                  ean: '5016122473498'
                - releaseId: 228204
                  title: BIRDS
                  ean: '5016122473504'
                - releaseId: 228203
                  title: CHIHIRO
                  ean: '5016122473511'
                - releaseId: 228200
                  title: you broke me first
                  ean: '5016122472774'
                - releaseId: 228199
                  title: the hills x say it right
                  ean: '5016122472781'
                - releaseId: 228198
                  title: too good x greedy
                  ean: '5016122472798'
                - releaseId: 228168
                  title: stereo love x we found love
                  ean: '5016122472811'
                - releaseId: 228163
                  title: sicko mode x resonance
                  ean: '5016122472835'
                - releaseId: 228160
                  title: camelot x resonanse
                  ean: '5016122472842'
                - releaseId: 228158
                  title: i like to way you kiss me x after dark
                  ean: '5016122472859'
                - releaseId: 228157
                  title: deep love x gypsy woman
                  ean: '5016122472866'
                - releaseId: 228156
                  title: without me x ghostbusters
                  ean: '5016122472873'
                - releaseId: 228153
                  title: do ya x resonance
                  ean: '5016122472903'
                - releaseId: 228138
                  title: Your Love
                  ean: '5016122472927'
                - releaseId: 228137
                  title: You Me
                  ean: '5016122472934'
                - releaseId: 228136
                  title: Tick Tack
                  ean: '5016122472941'
                - releaseId: 228134
                  title: Thunder
                  ean: '5016122472958'
                - releaseId: 228133
                  title: Tears
                  ean: '5016122472965'
                - releaseId: 228129
                  title: Super
                  ean: '5016122472972'
                - releaseId: 228128
                  title: Spot
                  ean: '5016122472989'
                - releaseId: 228127
                  title: Seoul City
                  ean: '5016122472996'
                - releaseId: 228126
                  title: See U Tonight Yunah
                  ean: '5016122473009'
                - releaseId: 228125
                  title: Ridin' The Hub
                  ean: '5016122473016'
                - releaseId: 228123
                  title: Priceless
                  ean: '5016122473023'
                - releaseId: 228121
                  title: oops
                  ean: '5016122473030'
                - releaseId: 228118
                  title: My World
                  ean: '5016122473047'
                - releaseId: 228116
                  title: Midnight Fiction
                  ean: '5016122473054'
                - releaseId: 228114
                  title: la la la x sweater weather
                  ean: '5016122473061'
                - releaseId: 228112
                  title: Messy From F1
                  ean: '5016122473078'
                - releaseId: 228111
                  title: Magnetic
                  ean: '5016122471586'
                - releaseId: 228110
                  title: Big And Chunky
                  ean: '5016122471593'
                - releaseId: 228109
                  title: Lucky Girl Syndrome
                  ean: '5016122471609'
                - releaseId: 228105
                  title: Love Hangover
                  ean: '5016122471616'
                - releaseId: 228104
                  title: little monster
                  ean: '5016122471623'
                - releaseId: 228101
                  title: like Jennie
                  ean: '5016122471630'
                - releaseId: 228100
                  title: Lemon Drop
                  ean: '5016122471647'
                - releaseId: 228099
                  title: Kikkin It Girl
                  ean: '5016122471654'
                - releaseId: 228098
                  title: I II Like You
                  ean: '5016122471661'
                - releaseId: 228097
                  title: Hus Kisses
                  ean: '5016122471678'
                - releaseId: 228095
                  title: Love Me Not
                  ean: '5016122471685'
                - releaseId: 228093
                  title: Good Thing
                  ean: '5016122471692'
                - releaseId: 228091
                  title: FLOWER
                  ean: '5016122471708'
                - releaseId: 228089
                  title: Extral Doechii
                  ean: '5016122471715'
                - releaseId: 228087
                  title: Cherish My Love
                  ean: '5016122471722'
                - releaseId: 228086
                  title: Lights
                  ean: '5016122471739'
                - releaseId: 228075
                  title: Billyeoon Goyangi
                  ean: '5016122471821'
                - releaseId: 228061
                  title: Born Again
                  ean: '5016122471944'
                - releaseId: 228060
                  title: Solo
                  ean: '5016122471951'
                - releaseId: 228054
                  title: Slower
                  ean: '5016122472002'
                - releaseId: 228029
                  title: APT
                  ean: '5016122472224'
                - releaseId: 228023
                  title: All Eyes On Me
                  ean: '5016122472286'
                - releaseId: 228005
                  title: bamsopoong
                  ean: '5016122472354'
                - releaseId: 228004
                  title: Fame is a Gun
                  ean: '5016122472361'
                - releaseId: 227959
                  title: Like You
                  ean: '5016122472590'
                - releaseId: 227957
                  title: Manchild
                  ean: '5016122472613'
                - releaseId: 227956
                  title: Hotline
                  ean: '5016122472620'
                - releaseId: 227851
                  title: uh oh
                  ean: '5016122472682'
                - releaseId: 227850
                  title: without me x barbosiki
                  ean: '5016122472699'
                - releaseId: 227849
                  title: PINS AND NEEDLES
                  ean: '5016122472705'
                - releaseId: 227848
                  title: Sports Car
                  ean: '5016122472712'
                - releaseId: 227843
                  title: chihiro x touch it
                  ean: '5016122473092'
                - releaseId: 227839
                  title: players x give it to me
                  ean: '5016122472729'
                - releaseId: 227831
                  title: Where Your Head At
                  ean: '5016122472736'
                - releaseId: 227829
                  title: Shake It To The Max
                  ean: '5016122472743'
                - releaseId: 227826
                  title: Connie Francis
                  ean: '5016122472750'
                - releaseId: 227820
                  title: Big And Chunky
                  ean: '5016122472767'
                - releaseId: 227599
                  title: Dance
                  ean: '5016122471463'
                - releaseId: 227585
                  title: Slowed Mus
                  ean: '5016122471487'
                - releaseId: 227263
                  title: Speed Up Music Vol.1
                  ean: '5016122466605'
                - releaseId: 227249
                  title: delete it
                  ean: '5016122469651'
                - releaseId: 226269
                  title: Hope It Hurts
                  ean: '5016122466940'
                - releaseId: 226265
                  title: MEMORY
                  ean: '5016122462683'
                - releaseId: 226264
                  title: Just Because
                  ean: '5016122466964'
                - releaseId: 226228
                  title: Magnetic
                  ean: '5016122463482'
                statusCode: 200
  /multi_links:
    post:
      summary: POST multi_links
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items: {}
                      count:
                        type: number
                  statusCode:
                    type: number
              example:
                data:
                  data: []
                  count: 0
                statusCode: 201
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: number
                skip:
                  type: number
            example:
              limit: 100
              skip: 0
  /statistics/filters:
    get:
      summary: GET filters
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      platformIds:
                        type: array
                        items:
                          type: number
                      countryIds:
                        type: array
                        items:
                          type: number
                  statusCode:
                    type: number
              example:
                data:
                  platformIds:
                  - 196
                  - 197
                  countryIds:
                  - 549
                  - 1309
                statusCode: 200
  /releases/{id}:
    get:
      summary: GET releases by id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      genres:
                        type: array
                        items:
                          type: object
                          properties:
                            genreId:
                              type: number
                            parentId:
                              type: object
                              nullable: true
                            genreName:
                              type: string
                            category:
                              type: string
                      types:
                        type: array
                        items:
                          type: object
                          properties:
                            releaseTypeId:
                              type: number
                            releaseType:
                              type: string
                      langs:
                        type: array
                        items:
                          type: object
                          properties:
                            langId:
                              type: number
                            langCode:
                              type: string
                            langName:
                              type: string
                  statusCode:
                    type: number
              example:
                data:
                  levelPlan: BUSINESS
                  level: PREMIUM
                  checklist:
                    data:
                    - field: cover
                      newValue: clients/production/58251/releases/cover/PT4MLWXY6UXiRPvvuxwN8VwOFQsx0N3pfPoL.jpg
                      oldValue: undefined
                      isAccepted: true
                      description: ''
                    - field: artists
                      newValue:
                      - id: 86271
                        role: MAIN
                      oldValue: []
                      isAccepted: true
                      description: ''
                    - field: title
                      newValue: Big And Chunky
                      oldValue: ''
                      isAccepted: true
                      description: ''
                    - field: releaseVersion
                      newValue: SLOWED 8D
                      oldValue: SLOWED 8
                      isAccepted: true
                      description: ''
                    - field: releaseDate
                      newValue: '2025-06-20'
                      oldValue: '2025-06-20T00:00:00Z'
                      isAccepted: true
                      description: ''
                    - field: originalReleaseDate
                      newValue: '2025-06-20'
                      oldValue:
                      isAccepted: true
                      description: ''
                    - field: labelId
                      newValue: 41602
                      isAccepted: true
                      description: ''
                    - field: clineYear
                      newValue: '2025'
                      oldValue: 0
                      isAccepted: true
                      description: ''
                    - field: clineValue
                      newValue: 8D PARADISE
                      oldValue: ''
                      isAccepted: true
                      description: ''
                    - field: plineYear
                      newValue: '2025'
                      oldValue: 0
                      isAccepted: true
                      description: ''
                    - field: plineValue
                      newValue: 8D PARADISE
                      oldValue: ''
                      isAccepted: true
                      description: ''
                    - field: genre
                      newValue:
                        genreId: 167
                      isAccepted: true
                      description: ''
                    - field: streamingPlatforms
                      newValue:
                      - 196
                      - 195
                      - 197
                      oldValue:
                      - 196
                      - 195
                      isAccepted: true
                      description: ''
                    status: PROCESSED
                  isReleased: true
                  articleLabel: MUA227820
[...]
